Envoy/Envoy-Backplate/Envoy-Backplate-backups/*
Envoy/Envoy-Backplate/Envoy-Backplate-backups
Envoy/Envoy-Switchplate/Envoy-Switchplate-backups/*
Envoy/Envoy-Switchplate/Envoy-Switchplate-backups
Envoy/Envoy-backups/*
Envoy/Envoy-backups
Envoy/_autosave-Envoy.kicad_pcb
